{
  "all": true,                       
  "extension": [".js", ".mjs"],      
  "include": ["src/**/*.js"],        
  "exclude": ["test/**/*.js"],       
  "reporter": ["text", "text-summary", "lcov", "html"],
  "cache": true
}